<div class="nav">
    <%= image_tag "logo.png", alt: "Logo", width: 75, height: 75 %>
    <ul class="nav-list">
      <li class="nav-item"><a href="#services">Services</a></li>
      <li class="nav-item"><a href="#works">Works</a></li>
      <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
</div>

<div class="landing">
  <div class="landing-content">
    <h1>Amélien Delahaie</h1>
      <p>Freelance</p>
      <a href="#contact" class="cta">Connect with me</a>
  </div>
</div>

<div id="services">
  <div class="container">
    <h2>A bit about me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum, mauris mi purus consequat libero condimentum volutpat. Eget blandit egestas id ultrices ornare. Sit felis bibendum aliquam imperdiet. Diam nulla enim arcu elit.</p>
      <div class="services-cards">
        <div class="card">
          <h6>Full Stack Developer</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        </div>
        <div class="card">
          <h6>Project Manager</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        </div>
        <div class="card">
          <h6>Legal innovation</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        </div>
      </div>
      <div class="disc-btn">
        <p>Discover more</p>
      </div>
  </div>
</div>

<div id="works">
    <h2>My Recent work</h2>
    <p>Here are a few design projects I've worked on recently. Want to see more? Email me.</p>
</div>

<div class="container">
  <div class="works-cards">
    <p class="card">Work 1</p>
    <p class="card">work 2</p>
  </div>
</div>

<div id="contact">
  <h2>Let’s connect !</h2>
  <h2>Contact me</h2>
</div>

