<div class="nav">
    <%= image_tag "logo.png", alt: "Logo", width: 75, height: 75 %>
    <ul class="nav-list">
      <li class="nav-item"><a href="#services">Services</a></li>
      <li class="nav-item"><a href="#works">Works</a></li>
      <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
</div>

<div class="landing">
  <div class="landing-content">
    <h1>Amélien Delahaie</h1>
    <p> Freelance <span id="banner-typed-text"></span></p>
    <a href="#contact" class="cta">Connect with me</a>
  </div>
</div>

<div id="services">
  <div class="container">
    <h2>A bit about me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum, mauris mi purus consequat libero condimentum volutpat. Eget blandit egestas id ultrices ornare. Sit felis bibendum aliquam imperdiet. Diam nulla enim arcu elit.</p>
      <div class="services-cards" data-aos="fade-up">
        <div class="card discover">
          <i class="fas fa-laptop-code"></i>
          <span>👨‍💻</span>
          <h6>Full Stack Developer</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p><br />
          <p> <strong>Languages I speak:</strong><br />
            HTML <br />
            CSS<br />
            Ruby<br />
            React<br /><br />
            <strong>Dev Tools:</strong><br />
            Bootstrap<br />
            Codekit<br />
            Codepen<br />
            Github<br />
            Gitlab<br />
            Terminal</p>
        </div>
        <div class="card discover">
          <span>👷</span>
          <h6>Project & Product Manager</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p><br />
          <p><strong>Design Tools:</strong><br />
          Balsamiq Mockups<br />
          Figma<br />
          Pen & Paper<br />
          Sketch<br />
          Webflow<br />
          Zeplin<br /> </p>
        </div>
        <div class="card discover">
          <span>👨‍⚖️</span>
          <h6>Legal innovation</h6>
          <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser.</p>
        </div>
      </div>
      <div class="disc-btn">
        <button id="toggleBtn"> Discover more <i class="fas fa-long-arrow-alt-right"></i></button>
      </div>
  </div>
</div>

<div id="works">
    <h2>My Recent work</h2>
    <p>Here are a few design projects I've worked on recently. Want to see more? Email me.</p>
</div>

<div class="container">
  <div class="works-cards">
    <p class="card card-cover1 shad" data-aos="fade-right"> </p>
    <p class="card card-cover2 shad" data-aos="fade-left"></p>
  </div>
</div>

<div id="contact">
  <div class="container">
    <h2>Let’s connect !</h2>
    <span>Contact me</span>

    <div class=" mail d-flex align-items-center">
      <i class="fas fa-envelope"></i>
      <a href = "mailto:amelien.delahaie@gmail.com?Subject=I've got something to tell you.">
        Send Email
      </a>
    </div>
    <!-- <div>
      <h3>Find me </h3>
      <a href="https://www.linkedin.com/in/ameliendelahaie/"><i class="fab fa-linkedin"></i></a>
    </div> -->
  </div>
</div>





