.cta{
  color: white;
  background-color: #6644EF;
  border-radius: 25px;
  width: 156px;
  padding: 11px;
  text-align: center;
}

.disc-btn{
margin-bottom: 60px;
margin-top: 60px;
font-size: 28px;
}
