.services-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 40px;
  width: 100%;
}


.works-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  margin-top: -165px;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.card{
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 308px;
  overflow: hidden;

  span{
    font-size: 78px;
    margin-bottom: 21px;
  }

  h6{
    padding-bottom: 17px;
    font-weight: bolder;
  }
}

.block{
  height: 677px;
}

.card-cover1{
  background-image: asset-url('geste.jpg');
  background-size: cover;
}

.card-cover2{
  background-image: asset-url('fink.jpg');
  background-size: cover;
}

@media(max-width: 768px) {
  .card{
    height: 200px;
    padding: 20px;

    span{
      font-size: 40px;
      margin-bottom: 12px;
    }

    h6{
    padding-bottom: 11px;
    }
  }
}
