.nav{
background-color: white;
height: 80px;
width: 100%;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  height: 80px;
}

.nav-item{
  font-size: 28px;
  font-weight: lighter;
  a{
    color: #706678;
  }

  a:hover{
    color: #706678;
    font-weight: normal;
  }
}

@media(max-width: 768px) {
  .nav-item{
  font-size: 18px;
  }

  .nav-list{
      width: 80%;
  }
}
