@import "bootstrap/scss/bootstrap";
@import "components/index";
@import url("fonts/TisaSansPro/stylesheet.css");

.landing-content{
  padding-top: 185px;
  margin-left: 123px;
  height: 80vh;
  width: auto;

  h1{
  color: #6644EF;
  font-weight: bolder;
  font-size: 60px;
  }

  p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 50px;
  }
}

.landing{
  background-color: #F4F1FD;
  height: 80vh;
  width: 100%;
}

#services{
  margin-top: 50px;
  text-align: center;
}

#works{
  background-color: #6644EF;
  color: white;
  height: 357px;
  text-align: center;
  padding-top: 50px;
}

#contact{
  background-color: #F4F1FD;
  height: 48vh;
  margin-top: 120px;
  padding-top: 50px;

  h2, span{
    font-size: 40px;
    font-weight: bolder;
  }

  span{
    color: #6644EF;
    line-height: 0.5;
  }

  a{
    color: #706678;
    padding-left: 20px;
  }
}

.mail{
  margin-top: 50px;
  font-size: 30px;
}



@media(max-width: 768px) {
  .services-cards, .works-cards {
    grid-template-columns: 1fr;
  }

  .landing{
    height: 70vh;
  }

  .landing-content{
    margin-left: 44px;
    padding-top: 85px;
    height: 60vh;

    p{
    font-size: 18px;
    padding-top: 35px;
    margin-bottom: 70px;
    }


    h1{
    font-size: 50px;
    }
  }

  #contact{
    margin-top: 70px;
  }
}
